In [4]:
import pandas as pd
import numpy as np
import os
from peewee import *

In [7]:
def fetch_data(beging_datetime="2021-01-17", end_datetime="2021-01-18", symbol="rb2105", db_path="D:\Trader\.vntrader\database.db"):
    db = SqliteDatabase(db_path)
    market_log = pd.read_sql("select * from dbtickdata where (symbol='%s') and Date(datetime) between '%s' and '%s'" %(symbol, beging_datetime, end_datetime), db)
    return market_log
temp_df = fetch_data()

In [8]:
temp_df.head()

,id,symbol,exchange,datetime,name,volume,open_interest,last_price,last_volume,limit_up,...,bid_volume_1,bid_volume_2,bid_volume_3,bid_volume_4,bid_volume_5,ask_volume_1,ask_volume_2,ask_volume_3,ask_volume_4,ask_volume_5
0,119731,rb2105,SHFE,2021-01-18 09:03:07,螺纹钢2105,703849.0,1234000.0,4368.0,0.0,4586.0,...,67.0,None,None,None,None,167.0,None,None,None,None
1,119733,rb2105,SHFE,2021-01-18 09:03:07.500000,螺纹钢2105,704029.0,1234077.0,4369.0,0.0,4586.0,...,65.0,None,None,None,None,87.0,None,None,None,None
2,119736,rb2105,SHFE,2021-01-18 09:03:08,螺纹钢2105,704093.0,1234106.0,4369.0,0.0,4586.0,...,59.0,None,None,None,None,99.0,None,None,None,None
3,119739,rb2105,SHFE,2021-01-18 09:03:08.500000,螺纹钢2105,704209.0,1234188.0,4368.0,0.0,4586.0,...,579.0,None,None,None,None,155.0,None,None,None,None
4,119742,rb2105,SHFE,2021-01-18 09:03:09,螺纹钢2105,704249.0,1234205.0,4368.0,0.0,4586.0,...,482.0,None,None,None,None,186.0,None,None,None,None